.header-button {
    height: 100%;
    width: 60px;
    font-size: 16px;
    padding: 5px;
    margin-left: 3%;
    text-align: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: rgb(237, 242, 244);
}

.header-button:hover {
    border-bottom: 3px solid blue;
}

.scene-change-button {
    font-size: 24px;
    padding: 5px;
    text-align: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: rgb(237, 242, 244);
}

.scene-change-button:hover {
    text-decoration: none;
    color: rgb(115, 226, 226);
}