* {
    font-family: 'MedievalSharp', cursive;
    user-select: none;
}

body {
    color: rgb(237, 242, 244);
    margin: 0px;
    padding: 0px;
}

#root {
    background-color: black;
}

html, body, #root {
    min-height: 100%;
    height: 100%;
}
