#intro {
    position: fixed;
    box-sizing: border-box;
    margin: 0px;
    text-align: center;
    font-size: 30px;
    height: 100%;
    width: 100%;
}

#intro p {
    margin-top: 12%;
    margin-bottom: 10%;
}

.home-button {
    transition: all 0.5s ease;
    font-size: 18px;
    font-weight: bolder;
    box-sizing: border-box;
    align-self: center;
    width: 20%;
    height: 8%;
    margin-top: 85vh;
    margin-left: 75vh;
    background-color: rgb(188, 108, 37);
    border: none;
    box-shadow: rgb(48, 46, 46) 5px 5px 10px;
}

.home-button:hover {
    background-color: rgb(211, 130, 58);
    transition: all 0.5s ease;
}